#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(24, 24, 24);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}





.bola1{
      display: flex;
      width: 350px;
      height: 350px;
      border-radius: 50%;
      position: relative;
      justify-content: center;
      align-items: center;
      background-color: rgba(48, 48, 48, 0.1);
}

.bola1:nth-child(1){
  right: 80px;
  top: 30px;
}

.bola1:nth-child(2) {
  left: 70px;
  bottom: 160px;
}



.bola1:nth-child(3) {
width: 280px;
height: 280px;
bottom: 320px;
}

.bola5{
  display: flex;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 50, 50, 0.1);
}

.bola6{
display: flex;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(75, 75, 75, 0.1);
}

.bola7{
  display: flex;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(123, 123, 123, 0.2);
    color: white;

}

.bola2{
      display: flex;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      position: relative;
      align-items: center;
      justify-content: center;
      background-color: rgba(50, 50, 50, 0.1);
}

.bola3{
  display: flex;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 75, 75, 0.1);
}

.bola4{
  display: flex;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(123, 123, 123, 0.2);
    color: white;
}

.letras{
  display: flex;
  position: relative;
  bottom: 20px;
  font-size: 20px;
}

.impu{
  height: 25px;
  border-radius: 20%;
}

.error{
  color: rgb(255, 41, 41);
}

.saludo{
color: rgb(40, 157, 40);
}
.carga{
color: rgb(174, 174, 174);
}

.bolaverde{
  position: relative;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bolaverdeimg{
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
}

/*nav*/

a {

  color: #d7d7d7;
  text-decoration: none;
  margin-left: 6px;
  padding: 1rem;
}



.activado {
  color: #f9f9ff;
  background-color: rgb(75, 75, 75);
}

.logo{

 font-size: 30px;
 color: white;
}

.rut{
  margin: 0;
  border: 1px solid rgb(41, 41, 41);
  box-shadow:0px 30px 60px rgb(67, 59, 59);
  border-radius: 3%;
  width: 85vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navi2{
  width: 78vmax;
  height: 50px;
margin-top: 20px;
display: flex;
position: fixed;

align-items: center;
justify-content: space-between;
}

/*Home*/
.banner{
    position: static;
    width: 90vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banni{
  width: auto;
    height: auto;
    max-width:90vw;
    max-height: 45vw;
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
p{
  color: white;
}
.textb{
display: flex;
position: absolute; right: 105px;
color: #f9f9ff;
font-size: 30px;
}

.skill{
  position: static;
    width: 85vw;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(77, 77, 77);
}

.skilli{
  width: auto;
    height: auto;
    max-width: 100px;
    max-height: 100px;
}

.skull{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

h2{
  color: white;
}

/*footer*/
.fot{
  display: flex;
  top: 220px;
  margin: 0;
  flex-direction: column;
  position: relative;
  width: 100vw;
  color: #f9f9ff;
  height: 250px;
  background-color: black;
}



/*pagina2*/

.p2{
 
  margin-top: 100px;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.coll{
  margin-top: 160px;
}

.pp1{
  font-size: 25px;
}

.pp2{
  width: 40vw;
}
/*pagina3*/
.p3{
margin-top: 300px;
}

.port{
display: flex;
align-items: center;
justify-content: space-around;

}

.cuadro{ 
  width: 100px;
  height: 100px;
  background-color: #888;

}

/*Pagina4*/

.p4{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 400px;
  width: 500px;
  height: 600px;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  
}

.for{
  width: 200px;
  height: 250px;
  color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  background-color: white;
}

@media (hover: hover) {
  .bola4:hover {
      border: 1px solid rgb(175, 175, 175);
      background-color: rgb(96, 96, 96);
  
    }

    .bola3:hover{
      background-color:rgba(69, 69, 69, 0.5) ;
    }

    .bola2:hover{
      background-color: rgb(55, 55, 55, .5);
    }

    .bola1:hover {
      background-color: rgb(40, 40, 40, .5);
    }

    .bola5:hover {
      background-color: rgb(55, 55, 55, .5);
    }

    .bola6:hover {
      background-color: rgba(69, 69, 69, 0.5);
    }

        .bola7:hover {
          border: none;
          background-color: rgb(96, 96, 96);
    
        }
}
